!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{"http-equiv" => "Content-Security-Policy", :content => "default-src https: 'self' ; script-src https: 'self' maxcdn.bootstrapcdn.com code.jquery.com cdnjs.cloudflare.com www.google-analytics.com; style-src https: 'self' maxcdn.bootstrapcdn.com; img-src https: data: 'self' www.google-analytics.com; font-src: https: 'self' fonts.googleapis.com; media-src https: 'self' ; frame-src 'none';"}/
    %title= current_page.data.title || "Gang TV Media"
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", :rel => "stylesheet", :integrity => "sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", :crossorigin => "anonymous"}/
    = stylesheet_link_tag "application"
    %script{:src => "https://code.jquery.com/jquery-3.2.1.slim.min.js", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :crossorigin => "anonymous"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", :integrity => "sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", :crossorigin => "anonymous"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js", :integrity => "sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", :crossorigin => "anonymous"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js", :integrity => "sha384-ugp/e34LtoER7mwf3SLygR0OL+STa4FTLzk7MRbpY/usE4VV+24hBxRXRS6g5ZJy", :crossorigin => "anonymous"}
    = javascript_include_tag "application"
    %link{:href => "//gangtv.com.sg/apple-touch-icon-57x57.png", :rel => "apple-touch-icon-precomposed", :sizes => "57x57"}/
    %link{:href => "//gangtv.com.sg/apple-touch-icon-114x114.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "//gangtv.com.sg/apple-touch-icon-72x72.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "//gangtv.com.sg/apple-touch-icon-144x144.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "//gangtv.com.sg/apple-touch-icon-120x120.png", :rel => "apple-touch-icon-precomposed", :sizes => "120x120"}/
    %link{:href => "//gangtv.com.sg/apple-touch-icon-152x152.png", :rel => "apple-touch-icon-precomposed", :sizes => "152x152"}/
    %link{:href => "//gangtv.com.sg/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "//gangtv.com.sg/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "favicon.ico", :rel => "icon", :sizes => "32x32", :type => "image/x-icon"}/
    %meta{:content => "GangTV", :name => "application-name"}/
    %meta{:content => "#383838", :name => "msapplication-TileColor"}/
    %meta{:content => "//gangtv.com.sg/mstile-144x144.png", :name => "msapplication-TileImage"}/
  %body{class: page_classes, "data-offset" => "0", "data-spy" => "scroll", "data-target" => ".navbar"}
    = yield
    %footer{role: 'footer'}
      .footer-bottom
        .logo-lockup
          %img.d-inline-block.logo{src: '/assets/images/gangtv-logo.png', alt:''}
          %img.d-inline-block.logo-text{src: '/assets/images/gangtv-logo-text.png', alt:'GangTV'}
        %p.copyright.text-center © 2017 Gang TV Media Pte Ltd
