---
title: Gangtv.com.sg::Coming Soon
---
.hero
  .video-container
    %video#bgvid.background-video.hero-bg-video.is-playing{:autoplay => "autoplay", :loop => "loop", :muted => "muted", :poster => "https://html5backgroundvideos.com/wp-content/uploads/2015/09/ristretto.jpg"}
      %source{:src => "https://d3k5xyayaartr5.cloudfront.net/ristretto/ristretto.mp4", :type => "video/mp4"}
      %source{:src => "https://d3k5xyayaartr5.cloudfront.net/ristretto/ristretto.webm", :type => "video/webm"}
      %source{:src => "https://d3k5xyayaartr5.cloudfront.net/ristretto/ristretto.ogv", :type => "video/ogg"}

    .container
      .logo
      %h1.title Coming Soon
      %h3 June 2016
      .postscript
        %h3 We are now filling up the website with new and refreshing content.
        %h3 Just like a nice cup of coffee, this may take some time, but we will be right back.
