---
title: Gang TV Media
---
.hero
  %nav.navbar.navbar-toggleable-sm.fixed-top.navbar-dark.bg-translucent
    %a.navbar-brand{:href => "/"}
      %img.d-inline-block.align-top.logo{src: '/assets/images/gangtv-logo.png', alt:''}
      %img.d-inline-block.logo-text{src: '/assets/images/gangtv-logo-text.png', alt:'GangTV'}
    %button.navbar-toggler.navbar-toggler-right.hidden{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:href => "#main"}
            About
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => "#"} Services
        %li.nav-item
          %a.nav-link{:href => "#"} Contact
        %li.nav-item
          %a.nav-link.disabled{:href => "#"} Coming Soon...

  .profile.align-self-center
    %img{src: '/assets/images/gregory-profile.png', alt: ''}
    %h2
      %span.text-highlight G
      %span> REGORY
      %span
      %span.text-highlight ANG
      %h6.text-center Content Network Expert

.container
  #main
    %h1
      %span ABOUT
      %span.text-primary G
      %span> REGORY
      %span
      %span.text-primary ANG
    %p The list of channels Greg has launched in Asia reads more like a phonebook. Which is an ironic metaphor, because international entertainment companies only need to have one number on speed dial whenever they look east: his.

    %p.para-bg As the founder of GangTV, Greg has been instrumental in planning the business operations, marketing initiatives, delivery, and distribution of channels across the region. His natural trailblazing style saw him launching Asia’s first suite of HD channels in 2006 via Voom HD. Since then, he has been integral in bringing Discovery Channel, ESPN, Hallmark Channel, The Food Network HD, Sundance Channel, WE tv, KMTV, AMC Networks International, Fashion One TV, Fashion 4K, and Videofashion News 4K to millions of living rooms in Asia Pacific. His forward-thinking global outlook is bolstered by his Asian savvy, offering big names in entertainment the necessary agility and crucial insights they need to navigate the region’s dynamic broadcast media landscape.
    %p Before life in TV, Greg honed his business acumen with senior roles at Barcelona Cars, Volkswagen Asia Pacific, American Express, Leo Burnett Advertising, and Westin Stamford. In his spare time today, Greg continues to lend his tenor timbre to the airwaves as a voiceover talent in Singapore, where you’d be captivated even if he was reading, say, a phonebook.
