---
active: "services"
---

.container
  #main
    %h1
      %span KEY SERVICES
    .row
      .col-6
        %ul.services
          %li
            %h3 Launching TV channels
            Launching TV channels in any genre in multiple European territories — from the conception of channel formats through to operations, marketing, distribution deals and ad sales.
          %li
            %h3 Distribution Strategies
            Developing feature film distribution strategies.
          %li
            %h3 Media Assets Offering
            Selling of media assets to investors
      .col-6
        %ul.services
          %li
            %h3 Developing Marketing Concepts
            for media product launches
          %li
            %h3 Deal Negotiation
            Negotiating deals, marketing and distributing media products to commercial premises such as hotels, pubs, clubs, airlines, and retirement homes.
          %li
            %h3 Corporate Sponsorship Deals
            Negotiating, licensing, merchandising, and corporate sponsorship deals
    %hr
    %h1
      %span Other Services Include
    .row
      .col-6
        %ul.services.services-sm
          %li Formulating business plans
          %li Negotiation of complex contracts
          %li Selling international programming formats
          %li Obtaining broadcast licenses
          %li Negotiating copyright or acquisitions agreements
      .col-6
        %ul.services.services-sm
          %li Developing channel program grids
          %li Sourcing content
          %li Liquidating corporate entities
          %li Financial evaluations of rights catalogs
